*{
    padding: 0;
    margin: 0;
}

.BG-1{
    background-image: url("/assets/img/homeHeader.png");
    background-size: cover;
    background-position: center;
    height: 819px;
}
.logo{
    width: 200px;
    height: auto;
    margin: 20px;
}
.BG-blue{
    background-color: #002d68;
    height: 400px;
}
.BG-white{
    background-color: #FFFFFF;
    height: 400px;
    width: 100%;
}
.BG-whtie-footer{
    background-color: #FFFFFF;
    height: 200px;
}