*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* background style */
.BG-1{
    background-image: url("/assets/img/homeHeader.png");
    background-size: cover;
    background-position: center;
    height: 819px;
}

.BG-blue{
    background-color: #002d68;
    height: 400px;
}
.BG-white{
    background-color: #FFFFFF;
    height: 400px;
    width: 100%;
}
.BG-white-footer{
    background-color: #FFFFFF;
    height: 200px;
}
/* index nav (menu) */
.logo{
    width: 250px;
    height: auto;
    margin: 10px;
}
/* nav pont */
.index-menu{
width: 80%;
height: 75px;
background-color: #ffffffb0;
color: black;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
padding: 0px 25px;
position: fixed;
right: 10%;
top: 30px;
z-index: 1;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu li{
    margin-left: 10px;
}
.menu li a{
    font-size: 19px;
    color: black;
    text-decoration: none;
    transition: 0.3s ease;
}
.menu li a:hover{
    color: aqua;
}
/* search bar */
.search{
    display: flex;
    align-items: center;
    margin-right: 0;
}
.search form{
display: flex;
margin: 0;
}
.search input{
padding: 10px;border: 1px solid #ddd;
outline: none;
border-radius: 5px;
margin-right: 10px;
font-size: 16px;
}
.search input:hover{
    border:1px solid #72a0d4;
}
.search button{
padding: 10px;
background-color: #fff;
border: none;
border-radius: 5px;
color: #333;
font-size: 19px;
cursor: pointer;
}
.search button:hover{
    background-color: #ccc;
}